<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  </head>
  <body>
{% verbatim %}

    <div class="container" id=orders_app>

      <div class="btn btn-info btn-lg " v-for="order in orders">
        Title: {{ order.title }}
        <br>
        Created: {{ order.created }}
      </div>

    </div>

{% endverbatim %}

<script src="/static/todo/app.js"></script>

  </body>
</html>
